In [1]:
import pandas
import datetime
import numpy
import os

In [2]:
## Load the l-o-s data into a DF
## we'll work on the March-16-2016 Event

# We'll also need a datetime column! so a function to convert
# the date and time strings to python datetime objects!!!

def cnvrt_to_datetime(row):
        # Given a datestr and a time string convert to a python datetime obj.
        import datetime
        datecolName="dateStr"
        timeColName="timeStr"
        currDateStr = str( int( row[datecolName] ) )
    #     return currDateStr
        if row[timeColName] < 10:
            currTimeStr = "000" + str( int( row[timeColName] ) )
        elif row[timeColName] < 100:
            currTimeStr = "00" + str( int( row[timeColName] ) )
        elif row[timeColName] < 1000:
            currTimeStr = "0" + str( int( row[timeColName] ) )
        else:
            currTimeStr = str( int( row[timeColName] ) )
        return datetime.datetime.strptime( currDateStr\
                        + ":" + currTimeStr, "%Y%m%d:%H%M" )

inpColNames = [ "dateStr", "timeStr", "beam", "range", \
              "azim", "Vlos", "vlosMLAT", "vlosMLON", "vlosMLT",\
               "radId", "radCode"]
losFileName = "../data/frmtd-saps-vels-20130316.txt"
losSDVelDF = pandas.read_csv(losFileName, sep=' ',\
                             header=None, names=inpColNames)
# Add a datetime column
losSDVelDF["date"] = losSDVelDF.apply( cnvrt_to_datetime, axis=1 )
# Get rounded values of MLAT, MLON and MLT
losSDVelDF["vlosMLATRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLAT"] ]
losSDVelDF["vlosMLONRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLON"] ]
losSDVelDF["vlosMLTRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLT"] ]
losSDVelDF["vlosMLT"] = losSDVelDF["vlosMLT"].map(lambda x: x % 24.)
losSDVelDF["vlosMLTRounded"] = losSDVelDF["vlosMLTRounded"].map(lambda x: x % 24.)
losSDVelDF['normMLT'] = [x-24 if x >= 12 else x for x in losSDVelDF['vlosMLT']]
losSDVelDF["normMLTRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["normMLT"] ]
losSDVelDF.head()

,dateStr,timeStr,beam,range,azim,Vlos,vlosMLAT,vlosMLON,vlosMLT,radId,radCode,date,vlosMLATRounded,vlosMLONRounded,vlosMLTRounded,normMLT,normMLTRounded
0,20130316,530,0,23,-1.36,125.2675,59.0047,0.7763,0.6239,32,wal,2013-03-16 05:30:00,59.0,1,0.5,0.6239,0.5
1,20130316,530,0,24,-1.36,85.4466,59.3899,0.8093,0.6261,32,wal,2013-03-16 05:30:00,59.5,1,0.5,0.6261,0.5
2,20130316,530,0,25,-1.36,57.6021,59.7744,0.8402,0.6282,32,wal,2013-03-16 05:30:00,60.0,1,0.5,0.6282,0.5
3,20130316,530,0,26,-1.36,52.8089,60.1583,0.8689,0.6301,32,wal,2013-03-16 05:30:00,60.0,1,0.5,0.6301,0.5
4,20130316,530,0,27,-1.36,32.6200,60.5418,0.8955,0.6319,32,wal,2013-03-16 05:30:00,60.5,1,0.5,0.6319,0.5

In [3]:
# Now read RBSP data into DFs
# Read in RBSP sat A data
rbspSatADF = pandas.read_csv("../data/rbsp_iono_satA.txt", \
                             delim_whitespace=True, header=None)
rbspSatADF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth", "MLatSth", "MLonSth", "MLTSth"] ] = rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth",\
             "MLatSth", "MLonSth", "MLTSth"] ].astype(float)
print rbspSatADF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######
rbspSatBDF = pandas.read_csv("../data/rbsp_iono_satB.txt", \
                             delim_whitespace=True, header=None)
rbspSatBDF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatBDF[ ["MLatNth", "MLonNth", "MLTNth", "MLatSth", "MLonSth", "MLTSth"] ] = rbspSatBDF[ ["MLatNth", "MLonNth", "MLTNth",\
             "MLatSth", "MLonSth", "MLTSth"] ].astype(float)
print rbspSatBDF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######

    dateStr  timeStr  MLatNth   MLonNth  MLTNth  MLatSth   MLonSth  MLTSth  \
0  20120901        0  60.4318  175.1409  6.9650 -61.0936  174.9068  6.9494
1  20120901        1  60.4748  175.1404  6.9808 -61.1292  174.9045  6.9651
2  20120901        2  60.5249  175.1412  6.9970 -61.1923  174.9108  6.9816
3  20120901        3  60.5654  175.0439  7.0066 -61.2283  174.8086  6.9909
4  20120901        4  60.6031  175.0506  7.0237 -61.2637  174.8065  7.0075

    sat
0  SatA
1  SatA
2  SatA
3  SatA
4  SatA
    dateStr  timeStr  MLatNth   MLonNth  MLTNth  MLatSth   MLonSth  MLTSth  \
0  20120901        0  59.9692  173.1644  6.8332 -60.6304  172.8850  6.8146
1  20120901        1  60.0350  173.0641  6.8424 -60.6955  172.7885  6.8240
2  20120901        2  60.0879  173.0674  6.8587 -60.7497  172.7920  6.8404
3  20120901        3  60.1297  173.0679  6.8749 -60.7877  172.7871  6.8562
4  20120901        4  60.1836  172.9732  6.8852 -60.8533  172.6920  6.8665

    sat
0  SatB
1  SatB
2  SatB
3  SatB
4  SatB

In [4]:
# Convert the date and time strings to datetime objects
# Then round off MLATs and MLTs to nearest 0.5
def rbsp_to_datetime(row, datecolName="dateStr", timeColName="timeStr"):
    currDateStr = str( int( row[datecolName] ) )
#     return currDateStr
    if row[timeColName] < 10:
        currTimeStr = "000" + str( int( row[timeColName] ) )
    elif row[timeColName] < 100:
        currTimeStr = "00" + str( int( row[timeColName] ) )
    elif row[timeColName] < 1000:
        currTimeStr = "0" + str( int( row[timeColName] ) )
    else:
        currTimeStr = str( int( row[timeColName] ) )
    return datetime.datetime.strptime( currDateStr\
                    + ":" + currTimeStr, "%Y%m%d:%H%M" )

rbspSatADF["date"] = rbspSatADF.apply( rbsp_to_datetime, axis=1 )
rbspSatADF["hour"] = [ x.strftime("%H") for x in rbspSatADF["date"] ]
rbspSatADF["MLatNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLatNth"] ]
rbspSatADF["MLTNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLTNth"] ]

rbspSatADF = rbspSatADF[ [ "dateStr", "timeStr", "date", "hour",\
                      "MLatNth", "MLonNth","MLTNth", "MLatNth_round", "MLTNth_round" ] ]
# Now we represent MLT 24 as MLT 0 everywhere. 
# Lets maintain a consistent pattern
# Convert all MLT 24s to 0s
rbspSatADF["MLTNth_round"] = rbspSatADF["MLTNth_round"].map(lambda x: x % 24.)
rbspSatADF["MLTNth"] = rbspSatADF["MLTNth"].map(lambda x: x % 24.)
print rbspSatADF.head()

####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######
rbspSatBDF["date"] = rbspSatBDF.apply( rbsp_to_datetime, axis=1 )
rbspSatBDF["hour"] = [ x.strftime("%H") for x in rbspSatBDF["date"] ]
rbspSatBDF["MLatNth_round"] = [ round(x * 2) / 2 for x in rbspSatBDF["MLatNth"] ]
rbspSatBDF["MLTNth_round"] = [ round(x * 2) / 2 for x in rbspSatBDF["MLTNth"] ]

rbspSatBDF = rbspSatBDF[ [ "dateStr", "timeStr", "date", "hour",\
                      "MLatNth", "MLonNth","MLTNth", "MLatNth_round", "MLTNth_round" ] ]
# Now we represent MLT 24 as MLT 0 everywhere. 
# Lets maintain a consistent pattern
# Convert all MLT 24s to 0s
rbspSatBDF["MLTNth_round"] = rbspSatBDF["MLTNth_round"].map(lambda x: x % 24.)
rbspSatBDF["MLTNth"] = rbspSatBDF["MLTNth"].map(lambda x: x % 24.)
print rbspSatBDF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######

    dateStr  timeStr                date hour  MLatNth   MLonNth  MLTNth  \
0  20120901        0 2012-09-01 00:00:00   00  60.4318  175.1409  6.9650
1  20120901        1 2012-09-01 00:01:00   00  60.4748  175.1404  6.9808
2  20120901        2 2012-09-01 00:02:00   00  60.5249  175.1412  6.9970
3  20120901        3 2012-09-01 00:03:00   00  60.5654  175.0439  7.0066
4  20120901        4 2012-09-01 00:04:00   00  60.6031  175.0506  7.0237

   MLatNth_round  MLTNth_round
0           60.5             7
1           60.5             7
2           60.5             7
3           60.5             7
4           60.5             7
    dateStr  timeStr                date hour  MLatNth   MLonNth  MLTNth  \
0  20120901        0 2012-09-01 00:00:00   00  59.9692  173.1644  6.8332
1  20120901        1 2012-09-01 00:01:00   00  60.0350  173.0641  6.8424
2  20120901        2 2012-09-01 00:02:00   00  60.0879  173.0674  6.8587
3  20120901        3 2012-09-01 00:03:00   00  60.1297  173.0679  6.8749
4  20120901        4 2012-09-01 00:04:00   00  60.1836  172.9732  6.8852

   MLatNth_round  MLTNth_round
0             60             7
1             60             7
2             60             7
3             60             7
4             60             7

In [5]:
# Filter for rbsp data for the 
# time range given in the event!
eventStartTime = losSDVelDF["date"].min()
eventEndTime = losSDVelDF["date"].max()
rbspSatADF = rbspSatADF[ (rbspSatADF["date"] >= eventStartTime) &\
                       (rbspSatADF["date"] <= eventEndTime)].\
                        reset_index(drop=True)
rbspSatBDF = rbspSatBDF[ (rbspSatBDF["date"] >= eventStartTime) &\
                   (rbspSatBDF["date"] <= eventEndTime)].\
                    reset_index(drop=True)

In [6]:
testDate = datetime.datetime( 2013, 3, 16, 9, 30 )
rbspSatADF = rbspSatADF[ rbspSatADF["date"] == testDate ].reset_index(drop=True)
rbspSatBDF = rbspSatBDF[ rbspSatBDF["date"] == testDate ].reset_index(drop=True)

In [7]:
# Now merge the DFs on datetime 
rbspSatADF = pandas.merge( rbspSatADF, losSDVelDF, on=["date"] )
rbspSatBDF = pandas.merge( rbspSatBDF, losSDVelDF, on=["date"] )
# We only need a few columns filter out the rest
rbspSatADF = rbspSatADF[ [ "dateStr_x", "timeStr_x", "date", "MLatNth",\
                         "MLonNth", "MLTNth", "MLatNth_round", "MLTNth_round",\
                         "beam", "range", "azim", "Vlos", "vlosMLAT", "vlosMLON",\
                          "vlosMLT", "vlosMLATRounded", "vlosMLONRounded",\
                          "vlosMLTRounded","radId", "radCode"] ]
rbspSatBDF = rbspSatBDF[ [ "dateStr_x", "timeStr_x", "date", "MLatNth",\
                         "MLonNth", "MLTNth", "MLatNth_round", "MLTNth_round",\
                         "beam", "range", "azim", "Vlos", "vlosMLAT", "vlosMLON",\
                          "vlosMLT", "vlosMLATRounded", "vlosMLONRounded",\
                          "vlosMLTRounded","radId", "radCode"] ]
print rbspSatADF.head()
print rbspSatBDF.head()

   dateStr_x  timeStr_x                date  MLatNth  MLonNth   MLTNth  \
0   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
1   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
2   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
3   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
4   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997

   MLatNth_round  MLTNth_round  beam  range   azim     Vlos  vlosMLAT  \
0           58.5            23     3     55 -67.54  16.7392   51.5811
1           58.5            23     3     56 -67.54   6.8689   51.5005
2           58.5            23     3     57 -67.54  -3.4344   51.4158
3           58.5            23     3     58 -67.54  -2.1313   51.3269
4           58.5            23     3     59 -67.54  -1.6281   51.2340

   vlosMLON  vlosMLT  vlosMLATRounded  vlosMLONRounded  vlosMLTRounded  radId  \
0  -43.0829   1.6984             51.5            -43.0             1.5     33
1  -43.7625   1.6531             51.5            -44.0             1.5     33
2  -44.4388   1.6080             51.5            -44.5             1.5     33
3  -45.1117   1.5631             51.5            -45.0             1.5     33
4  -45.7813   1.5185             51.0            -46.0             1.5     33

  radCode
0     bks
1     bks
2     bks
3     bks
4     bks
   dateStr_x  timeStr_x                date  MLatNth  MLonNth  MLTNth  \
0   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
1   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
2   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
3   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
4   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558

   MLatNth_round  MLTNth_round  beam  range   azim     Vlos  vlosMLAT  \
0           61.5             0     3     55 -67.54  16.7392   51.5811
1           61.5             0     3     56 -67.54   6.8689   51.5005
2           61.5             0     3     57 -67.54  -3.4344   51.4158
3           61.5             0     3     58 -67.54  -2.1313   51.3269
4           61.5             0     3     59 -67.54  -1.6281   51.2340

   vlosMLON  vlosMLT  vlosMLATRounded  vlosMLONRounded  vlosMLTRounded  radId  \
0  -43.0829   1.6984             51.5            -43.0             1.5     33
1  -43.7625   1.6531             51.5            -44.0             1.5     33
2  -44.4388   1.6080             51.5            -44.5             1.5     33
3  -45.1117   1.5631             51.5            -45.0             1.5     33
4  -45.7813   1.5185             51.0            -46.0             1.5     33

  radCode
0     bks
1     bks
2     bks
3     bks
4     bks

In [8]:
# We'll take only those observations where rbsp is close to SAPS observations
# our definition of close with in 1 (+/-0.5) degree Mlat and less than 1 hour (+/-0.5) MLT.
latDiff = 0.5 
mltDiff = 0.5 
# SAT -A
rbspSatADF["del_mlat"] = abs(rbspSatADF["MLatNth"] - rbspSatADF["vlosMLAT"])
rbspSatADF["del_mlt"] = abs(rbspSatADF["MLTNth"] - rbspSatADF["vlosMLT"])
rbspSatADF = rbspSatADF[ ( rbspSatADF["del_mlat"] < latDiff ) &\
                        ( rbspSatADF["del_mlt"] < mltDiff ) ].\
                        reset_index(drop=True)
print rbspSatADF.head()

# SAME FOR SAT-B
rbspSatBDF["del_mlat"] = abs(rbspSatBDF["MLatNth"] - rbspSatBDF["vlosMLAT"])
rbspSatBDF["del_mlt"] = abs(rbspSatBDF["MLTNth"] - rbspSatBDF["vlosMLT"])
rbspSatBDF = rbspSatBDF[ ( rbspSatBDF["del_mlat"] < latDiff ) &\
                        ( rbspSatBDF["del_mlt"] < mltDiff ) ].\
                        reset_index(drop=True)
print rbspSatBDF.head()

   dateStr_x  timeStr_x                date  MLatNth  MLonNth   MLTNth  \
0   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
1   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
2   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
3   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997
4   20130316        930 2013-03-16 09:30:00  58.3466 -83.5627  22.9997

   MLatNth_round  MLTNth_round  beam  range   ...    vlosMLAT  vlosMLON  \
0           58.5            23     5     49   ...     57.9849  -88.5580
1           58.5            23     5     50   ...     58.0512  -89.2309
2           58.5            23     6     38   ...     57.9079  -80.7068
3           58.5            23     6     39   ...     58.0418  -81.3508
4           58.5            23     6     40   ...     58.1721  -81.9987

   vlosMLT  vlosMLATRounded  vlosMLONRounded  vlosMLTRounded  radId  radCode  \
0  22.6667               58            -88.5            22.5    206      cvw
1  22.6218               58            -89.0            22.5    206      cvw
2  23.1901               58            -80.5            23.0    206      cvw
3  23.1472               58            -81.5            23.0    206      cvw
4  23.1040               58            -82.0            23.0    206      cvw

   del_mlat del_mlt
0    0.3617  0.3330
1    0.2954  0.3779
2    0.4387  0.1904
3    0.3048  0.1475
4    0.1745  0.1043

[5 rows x 22 columns]
   dateStr_x  timeStr_x                date  MLatNth  MLonNth  MLTNth  \
0   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
1   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
2   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
3   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558
4   20130316        930 2013-03-16 09:30:00  61.4575 -67.7218  0.0558

   MLatNth_round  MLTNth_round  beam  range   ...    vlosMLAT  vlosMLON  \
0           61.5             0     7     53   ...     60.9990  -64.6633
1           61.5             0     8     49   ...     61.6121  -60.5538
2           61.5             0    14     29   ...     61.1693  -67.5026
3           61.5             0    14     30   ...     61.5080  -67.8862
4           61.5             0    14     31   ...     61.8452  -68.2767

   vlosMLT  vlosMLATRounded  vlosMLONRounded  vlosMLTRounded  radId  radCode  \
0   0.2597             61.0            -64.5             0.5    204      fhw
1   0.5336             61.5            -60.5             0.5    204      fhw
2   0.0704             61.0            -67.5             0.0    206      cvw
3   0.0448             61.5            -68.0             0.0    206      cvw
4   0.0188             62.0            -68.5             0.0    206      cvw

   del_mlat del_mlt
0    0.4585  0.2039
1    0.1546  0.4778
2    0.2882  0.0146
3    0.0505  0.0110
4    0.3877  0.0370

[5 rows x 22 columns]

In [9]:
# Select only those columns where line-of-sight velocities are greater than 100 m/s
rbspSatADF2 = rbspSatADF[ abs(rbspSatADF["Vlos"]) > 100.\
                       ].reset_index(drop=True)
rbspSatBDF2 = rbspSatBDF[ abs(rbspSatBDF["Vlos"]) > 100.\
                       ].reset_index(drop=True)
print rbspSatBDF2[ ["Vlos", "azim", "MLTNth", "MLatNth", "vlosMLT", "vlosMLAT"] ], #losSDVelDF[ abs(losSDVelDF["Vlos"]) > 100.]

       Vlos   azim  MLTNth  MLatNth  vlosMLT  vlosMLAT
0 -287.3157 -36.34  0.0558  61.4575   0.2597   60.9990
1 -186.4741 -33.10  0.0558  61.4575   0.5336   61.6121

In [10]:
print rbspSatADF[ (rbspSatADF["vlosMLT"] > 22.) & (rbspSatADF["vlosMLT"] < 23.) & (rbspSatADF["Vlos"] < -100.) ]\
[ ["Vlos", "azim", "vlosMLT", "vlosMLAT"] ]

       Vlos   azim  vlosMLT  vlosMLAT
0 -137.0036 -41.06  22.6667   57.9849
1 -174.6457 -41.06  22.6218   58.0512
7 -130.0096 -37.82  22.9728   58.5404
8 -135.8973 -37.82  22.9286   58.6556
9 -134.8078 -37.82  22.8841   58.7670

In [25]:
x = rbspSatADF[ rbspSatADF["del_mlt"] == rbspSatADF["del_mlt"].min() ]
print x["Vlos"].tolist()[0]

-122.0022