In [1]:
import pandas
import datetime
import numpy
import os

In [2]:
#### In this block we load Velocity data ####
#### In this block we load Velocity data ####
#### In this block we load Velocity data ####
# file with velocities
rawVelFileName = "../data/saps-vels-20130622.txt"
# need to format the file appropritely, before we can read it
outFormattedFile = "../data/formatted-vels-20130622.txt"
# os.system( 'cat ' + rawVelFileName + ' | tr -s "  " > ' + outFormattedFile )
inpColNames = [ "dateStr", "timeStr", "beam", "range", \
          "azim", "Vlos", "MLAT", "MLON", "MLT", "radId", \
          "radCode"]
velsDataDF = pandas.read_csv(outFormattedFile, sep=' ',\
                             header=None, names=inpColNames)
# add a datetime col
velsDataDF["date"] = pandas.to_datetime( \
                        velsDataDF['dateStr'].astype(str) + "-" +\
                        velsDataDF['timeStr'].astype(str), format='%Y%m%d-%H%M')
# for some reason MLAT is a str type, convert it to float
velsDataDF["MLAT"] = velsDataDF["MLAT"].astype(float)
# Also get a normMLT for plotting
velsDataDF['normMLT'] = [x-24 if x >= 12 else x for x in velsDataDF['MLT']]
velsDataDF.head()
#### In this block we load SAPS Velocity data ####
#### In this block we load SAPS Velocity data ####
#### In this block we load SAPS Velocity data ####

,dateStr,timeStr,beam,range,azim,Vlos,MLAT,MLON,MLT,radId,radCode,date,normMLT
0,20130622,600,5,21,14.84,53.7603,57.4511,6.3163,1.5622,32,wal,2013-06-22 06:00:00,1.5622
1,20130622,600,5,22,14.84,58.5754,57.7950,6.6224,1.5826,32,wal,2013-06-22 06:00:00,1.5826
2,20130622,600,5,23,14.84,63.0660,58.1377,6.9311,1.6031,32,wal,2013-06-22 06:00:00,1.6031
3,20130622,600,5,24,14.84,73.4261,58.4793,7.2427,1.6239,32,wal,2013-06-22 06:00:00,1.6239
4,20130622,600,5,25,14.84,84.7711,58.8199,7.5576,1.6449,32,wal,2013-06-22 06:00:00,1.6449

In [3]:
selRadPair = [ "cve", "cvw" ]

In [6]:

velsDataDF["radCode"].unique()

array(['wal', 'bks', 'fhw', 'fhe', 'cvw', 'cve'], dtype=object)

In [5]:
velsDataDF.shape

(143697, 13)