In [1]:
import pandas
import datetime
import os

In [2]:
## Load the l-o-s data into a DF
## we'll work on the March-16-2016 Event

# We'll also need a datetime column! so a function to convert
# the date and time strings to python datetime objects!!!

def cnvrt_to_datetime(row):
        # Given a datestr and a time string convert to a python datetime obj.
        import datetime
        datecolName="dateStr"
        timeColName="timeStr"
        currDateStr = str( int( row[datecolName] ) )
    #     return currDateStr
        if row[timeColName] < 10:
            currTimeStr = "000" + str( int( row[timeColName] ) )
        elif row[timeColName] < 100:
            currTimeStr = "00" + str( int( row[timeColName] ) )
        elif row[timeColName] < 1000:
            currTimeStr = "0" + str( int( row[timeColName] ) )
        else:
            currTimeStr = str( int( row[timeColName] ) )
        return datetime.datetime.strptime( currDateStr\
                        + ":" + currTimeStr, "%Y%m%d:%H%M" )

inpColNames = [ "dateStr", "timeStr", "beam", "range", \
              "azim", "Vlos", "vlosMLAT", "vlosMLON", "vlosMLT",\
               "radId", "radCode"]
losFileName = "/home/bharat/Documents/code/vap-analys/data/frmtd-saps-vels-20130316.txt"
losSDVelDF = pandas.read_csv(losFileName, sep=' ',\
                             header=None, names=inpColNames)
# Add a datetime column
losSDVelDF["date"] = losSDVelDF.apply( cnvrt_to_datetime, axis=1 )
# Get rounded values of MLAT, MLON and MLT
losSDVelDF["vlosMLATRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLAT"] ]
losSDVelDF["vlosMLONRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLON"] ]
losSDVelDF["vlosMLTRounded"] = [ round(x * 2) / 2 \
                                for x in losSDVelDF["vlosMLT"] ]
losSDVelDF.head()

,dateStr,timeStr,beam,range,azim,Vlos,vlosMLAT,vlosMLON,vlosMLT,radId,radCode,date,vlosMLATRounded,vlosMLONRounded,vlosMLTRounded
0,20130316,530,0,23,-1.36,125.2675,59.0047,0.7763,0.6239,32,wal,2013-03-16 05:30:00,59.0,1.0,0.5
1,20130316,530,0,24,-1.36,85.4466,59.3899,0.8093,0.6261,32,wal,2013-03-16 05:30:00,59.5,1.0,0.5
2,20130316,530,0,25,-1.36,57.6021,59.7744,0.8402,0.6282,32,wal,2013-03-16 05:30:00,60.0,1.0,0.5
3,20130316,530,0,26,-1.36,52.8089,60.1583,0.8689,0.6301,32,wal,2013-03-16 05:30:00,60.0,1.0,0.5
4,20130316,530,0,27,-1.36,32.6200,60.5418,0.8955,0.6319,32,wal,2013-03-16 05:30:00,60.5,1.0,0.5

In [3]:
# Now read RBSP data into DFs
# Read in RBSP sat A data
rbspSatADF = pandas.read_csv("../data/rbsp_iono_satA.txt", \
                             delim_whitespace=True, header=None)
rbspSatADF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth", "MLatSth", "MLonSth", "MLTSth"] ] = rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth",\
             "MLatSth", "MLonSth", "MLTSth"] ].astype(float)
print rbspSatADF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######
rbspSatBDF = pandas.read_csv("../data/rbsp_iono_satB.txt", \
                             delim_whitespace=True, header=None)
rbspSatBDF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatBDF[ ["MLatNth", "MLonNth", "MLTNth", "MLatSth", "MLonSth", "MLTSth"] ] = rbspSatBDF[ ["MLatNth", "MLonNth", "MLTNth",\
             "MLatSth", "MLonSth", "MLTSth"] ].astype(float)
print rbspSatBDF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######

    dateStr  timeStr  MLatNth   MLonNth  MLTNth  MLatSth   MLonSth  MLTSth  \
0  20120901        0  60.4318  175.1409  6.9650 -61.0936  174.9068  6.9494
1  20120901        1  60.4748  175.1404  6.9808 -61.1292  174.9045  6.9651
2  20120901        2  60.5249  175.1412  6.9970 -61.1923  174.9108  6.9816
3  20120901        3  60.5654  175.0439  7.0066 -61.2283  174.8086  6.9909
4  20120901        4  60.6031  175.0506  7.0237 -61.2637  174.8065  7.0075

    sat
0  SatA
1  SatA
2  SatA
3  SatA
4  SatA
    dateStr  timeStr  MLatNth   MLonNth  MLTNth  MLatSth   MLonSth  MLTSth  \
0  20120901        0  59.9692  173.1644  6.8332 -60.6304  172.8850  6.8146
1  20120901        1  60.0350  173.0641  6.8424 -60.6955  172.7885  6.8240
2  20120901        2  60.0879  173.0674  6.8587 -60.7497  172.7920  6.8404
3  20120901        3  60.1297  173.0679  6.8749 -60.7877  172.7871  6.8562
4  20120901        4  60.1836  172.9732  6.8852 -60.8533  172.6920  6.8665

    sat
0  SatB
1  SatB
2  SatB
3  SatB
4  SatB

In [4]:
# Convert the date and time strings to datetime objects
# Then round off MLATs and MLTs to nearest 0.5
def rbsp_to_datetime(row, datecolName="dateStr", timeColName="timeStr"):
    currDateStr = str( int( row[datecolName] ) )
#     return currDateStr
    if row[timeColName] < 10:
        currTimeStr = "000" + str( int( row[timeColName] ) )
    elif row[timeColName] < 100:
        currTimeStr = "00" + str( int( row[timeColName] ) )
    elif row[timeColName] < 1000:
        currTimeStr = "0" + str( int( row[timeColName] ) )
    else:
        currTimeStr = str( int( row[timeColName] ) )
    return datetime.datetime.strptime( currDateStr\
                    + ":" + currTimeStr, "%Y%m%d:%H%M" )

rbspSatADF["date"] = rbspSatADF.apply( rbsp_to_datetime, axis=1 )
rbspSatADF["hour"] = [ x.strftime("%H") for x in rbspSatADF["date"] ]
rbspSatADF["MLatNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLatNth"] ]
rbspSatADF["MLTNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLTNth"] ]

rbspSatADF = rbspSatADF[ [ "dateStr", "timeStr", "date", "hour",\
                      "MLatNth", "MLonNth","MLTNth", "MLatNth_round", "MLTNth_round" ] ]
# Now we represent MLT 24 as MLT 0 everywhere. 
# Lets maintain a consistent pattern
# Convert all MLT 24s to 0s
rbspSatADF["MLTNth_round"] = rbspSatADF["MLTNth_round"].map(lambda x: x % 24.)
print rbspSatADF.head()

####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######
rbspSatBDF["date"] = rbspSatBDF.apply( rbsp_to_datetime, axis=1 )
rbspSatBDF["hour"] = [ x.strftime("%H") for x in rbspSatBDF["date"] ]
rbspSatBDF["MLatNth_round"] = [ round(x * 2) / 2 for x in rbspSatBDF["MLatNth"] ]
rbspSatBDF["MLTNth_round"] = [ round(x * 2) / 2 for x in rbspSatBDF["MLTNth"] ]

rbspSatBDF = rbspSatBDF[ [ "dateStr", "timeStr", "date", "hour",\
                      "MLatNth", "MLonNth","MLTNth", "MLatNth_round", "MLTNth_round" ] ]
# Now we represent MLT 24 as MLT 0 everywhere. 
# Lets maintain a consistent pattern
# Convert all MLT 24s to 0s
rbspSatBDF["MLTNth_round"] = rbspSatBDF["MLTNth_round"].map(lambda x: x % 24.)
print rbspSatBDF.head()
####### DO THE SAME FOR SAT B #######
####### DO THE SAME FOR SAT B #######

    dateStr  timeStr                date hour  MLatNth   MLonNth  MLTNth  \
0  20120901        0 2012-09-01 00:00:00   00  60.4318  175.1409  6.9650
1  20120901        1 2012-09-01 00:01:00   00  60.4748  175.1404  6.9808
2  20120901        2 2012-09-01 00:02:00   00  60.5249  175.1412  6.9970
3  20120901        3 2012-09-01 00:03:00   00  60.5654  175.0439  7.0066
4  20120901        4 2012-09-01 00:04:00   00  60.6031  175.0506  7.0237

   MLatNth_round  MLTNth_round
0           60.5           7.0
1           60.5           7.0
2           60.5           7.0
3           60.5           7.0
4           60.5           7.0
    dateStr  timeStr                date hour  MLatNth   MLonNth  MLTNth  \
0  20120901        0 2012-09-01 00:00:00   00  59.9692  173.1644  6.8332
1  20120901        1 2012-09-01 00:01:00   00  60.0350  173.0641  6.8424
2  20120901        2 2012-09-01 00:02:00   00  60.0879  173.0674  6.8587
3  20120901        3 2012-09-01 00:03:00   00  60.1297  173.0679  6.8749
4  20120901        4 2012-09-01 00:04:00   00  60.1836  172.9732  6.8852

   MLatNth_round  MLTNth_round
0           60.0           7.0
1           60.0           7.0
2           60.0           7.0
3           60.0           7.0
4           60.0           7.0

In [5]:
# Filter for rbsp data for the 
# time range given in the event!
eventStartTime = losSDVelDF["date"].min()
eventEndTime = losSDVelDF["date"].max()
rbspSatADF = rbspSatADF[ (rbspSatADF["date"] >= eventStartTime) &\
                       (rbspSatADF["date"] <= eventEndTime)].\
                        reset_index(drop=True)
rbspSatBDF = rbspSatBDF[ (rbspSatBDF["date"] >= eventStartTime) &\
                   (rbspSatBDF["date"] <= eventEndTime)].\
                    reset_index(drop=True)

In [6]:
# Now merge the DFs on datetime 
rbspSatADF = pandas.merge( rbspSatADF, losSDVelDF, on=["date"] )
# We only need a few columns filter out the rest
rbspSatADF = rbspSatADF[ [ "dateStr_x", "timeStr_x", "date", "MLatNth",\
                         "MLonNth", "MLTNth", "MLatNth_round", "MLTNth_round",\
                         "beam", "range", "azim", "Vlos", "vlosMLAT", "vlosMLON",\
                          "vlosMLT", "vlosMLATRounded", "vlosMLONRounded",\
                          "vlosMLTRounded","radId", "radCode"] ]
rbspSatADF.head()

KeyError: "['MLAT' 'MLON' 'MLT'] not in index"

In [ ]:
print rbspSatADF.columns