In [1]:
import pandas
import datetime

In [2]:
# Read in RBSP data
rbspSatADF = pandas.read_csv("../data/rbsp_iono_satA.txt", \
                             delim_whitespace=True, header=None)
rbspSatADF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth", "MLatSth", "MLonSth", "MLTSth"] ] = rbspSatADF[ ["MLatNth", "MLonNth", "MLTNth",\
             "MLatSth", "MLonSth", "MLTSth"] ].astype(float)
rbspSatADF.head()

,dateStr,timeStr,MLatNth,MLonNth,MLTNth,MLatSth,MLonSth,MLTSth,sat
0,20120901,0,60.4318,175.1409,6.9650,-61.0936,174.9068,6.9494,SatA
1,20120901,1,60.4748,175.1404,6.9808,-61.1292,174.9045,6.9651,SatA
2,20120901,2,60.5249,175.1412,6.9970,-61.1923,174.9108,6.9816,SatA
3,20120901,3,60.5654,175.0439,7.0066,-61.2283,174.8086,6.9909,SatA
4,20120901,4,60.6031,175.0506,7.0237,-61.2637,174.8065,7.0075,SatA

In [3]:
# Convert the date and time strings to datetime objects
# Then round off MLATs and MLTs to nearest 0.5
def convert_to_datetime(row, datecolName="dateStr", timeColName="timeStr"):
    currDateStr = str( int( row[datecolName] ) )
#     return currDateStr
    if row[timeColName] < 10:
        currTimeStr = "000" + str( int( row[timeColName] ) )
    elif row[timeColName] < 100:
        currTimeStr = "00" + str( int( row[timeColName] ) )
    elif row[timeColName] < 1000:
        currTimeStr = "0" + str( int( row[timeColName] ) )
    else:
        currTimeStr = str( int( row[timeColName] ) )
    return datetime.datetime.strptime( currDateStr\
                    + ":" + currTimeStr, "%Y%m%d:%H%M" )

rbspSatADF["date"] = rbspSatADF.apply( convert_to_datetime, axis=1 )
rbspSatADF["hour"] = [ x.strftime("%H") for x in rbspSatADF["date"] ]
rbspSatADF["MLatNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLatNth"] ]
rbspSatADF["MLTNth_round"] = [ round(x * 2) / 2 for x in rbspSatADF["MLTNth"] ]

rbspSatADF = rbspSatADF[ [ "dateStr", "timeStr", "date", "hour",\
                      "MLatNth", "MLonNth","MLTNth", "MLatNth_round", "MLTNth_round" ] ]
rbspSatADF.head()

,dateStr,timeStr,date,hour,MLatNth,MLonNth,MLTNth,MLatNth_round,MLTNth_round
0,20120901,0,2012-09-01 00:00:00,00,60.4318,175.1409,6.9650,60.5,7.0
1,20120901,1,2012-09-01 00:01:00,00,60.4748,175.1404,6.9808,60.5,7.0
2,20120901,2,2012-09-01 00:02:00,00,60.5249,175.1412,6.9970,60.5,7.0
3,20120901,3,2012-09-01 00:03:00,00,60.5654,175.0439,7.0066,60.5,7.0
4,20120901,4,2012-09-01 00:04:00,00,60.6031,175.0506,7.0237,60.5,7.0

In [5]:
# Read SAPS data file!
datFileName = "../data/processedSaps-new.txt"
sapsDataDF = pandas.read_csv(datFileName, sep=' ')
# add dst_bins
dstBins = [ -150, -75, -50, -25, -10, 10 ]
sapsDataDF = pandas.concat( [ sapsDataDF, \
                    pandas.cut( sapsDataDF["dst_index"], \
                               bins=dstBins ) ], axis=1 )
sapsDataDF.columns = [ ["dateStr", "hour","sapsLat", \
                     "sapsMLT", "sapsVel", "radId", "poesLat",\
                     "poesMLT", "dst_date", "dst_index", "time", "dst_bin"] ]
sapsDataDF = sapsDataDF.drop(["radId", "poesLat", "poesMLT", "dst_date", "hour"], 1)
sapsDataDF.head()

    dateStr  sapsLat  sapsMLT   sapsVel  dst_index  time     dst_bin
0  20110107     56.5  17.7543  308.2077      -18.0     0  (-25, -10]
1  20110107     55.5  18.0147  224.1588      -18.0     0  (-25, -10]
2  20110107     56.5  17.8749  307.4328      -18.0     0  (-25, -10]
3  20110107     55.5  18.1324  222.4787      -18.0     0  (-25, -10]
4  20110107     56.5  17.9955  305.4201      -18.0     0  (-25, -10]