In [1]:
import pandas
import datetime

In [4]:
# Read in RBSP data
rbspSatADF = pandas.read_csv("../data/rbsp_iono_satA.txt", \
                             delim_whitespace=True, header=None)
rbspSatADF.columns = [ "dateStr", "timeStr", "MLatNth", "MLonNth",\
                      "MLTNth", "MLatSth", "MLonSth", "MLTSth", "sat" ]
rbspSatADF.head()

,dateStr,timeStr,MLatNth,MLonNth,MLTNth,MLatSth,MLonSth,MLTSth,sat
0,20120901,0,60.4318,175.1409,6.9650,-61.0936,174.9068,6.9494,SatA
1,20120901,1,60.4748,175.1404,6.9808,-61.1292,174.9045,6.9651,SatA
2,20120901,2,60.5249,175.1412,6.9970,-61.1923,174.9108,6.9816,SatA
3,20120901,3,60.5654,175.0439,7.0066,-61.2283,174.8086,6.9909,SatA
4,20120901,4,60.6031,175.0506,7.0237,-61.2637,174.8065,7.0075,SatA

In [6]:
# Need to convert the date and time strings to datetime objects
def convert_to_datetime(row, datecolName="dateStr", timeColName="timeStr"):
    currDateStr = str( int( row[datecolName] ) )
#     return currDateStr
    if row[timeColName] < 10:
        currTimeStr = "000" + str( int( row[timeColName] ) )
    elif row[timeColName] < 100:
        currTimeStr = "00" + str( int( row[timeColName] ) )
    elif row[timeColName] < 1000:
        currTimeStr = "0" + str( int( row[timeColName] ) )
    else:
        currTimeStr = str( int( row[timeColName] ) )
    return datetime.datetime.strptime( currDateStr\
                    + ":" + currTimeStr, "%Y%m%d:%H%M" )

rbspSatADF["date"] = rbspSatADF.apply( convert_to_datetime, axis=1 )
rbspSatADF.head()

NameError: ("global name 'datetime' is not defined", u'occurred at index 0')